/* src/index.css */
@import './tailwind.css';

/* Add any global styles here */
body, html, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../fonts/space_age.ttf) format('truetype');
}

.logo {
  font-family: 'MyFont';
  
}

/* globals.css */
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Apply the same to all elements */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
